<div class="u-layout">
    <div class="u-layout-col">
        <div class="u-size-30">
            <div class="u-layout-row">
                <div class="u-align-center u-container-style u-image u-image-round u-layout-cell u-size-30 u-image-1"
                    data-image-width="2000" data-image-height="1564">
                    <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                </div>

                <div class="u-container-style u-layout-cell u-shape-round u-size-30 u-white u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h2 class="u-text u-text-default u-text-1">About Game</h2>
                        <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-grey-40 u-text-2">
                            Welcome to Quiz Game – an innovative and interactive platform designed for quiz
                            enthusiasts! My web application is powered by the comprehensive and diverse trivia database
                            at <a href="https://opentdb.com/">Open Trivia Database (opentdb.com)</a>, ensuring a wide
                            range of topics and difficulty levels
                            to keep your quiz experience engaging and educational.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="u-size-30">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-shape-round u-size-30 u-white u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h2 class="u-text u-text-default u-text-1">How to start</h2>
                        <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-grey-40 u-text-2">
                            Go to <a href="https://opentdb.com/">Open Trivia Database (opentdb.com)</a> for get API
                            <br />
                            1. Enter the desired value. <br />
                            2. Click "Generate API URL". <br />
                            3. Copy the API URL shown under "API URL Generated!". <br />
                            4. Paste the copied API URL into the "input API" field on the New Game Page. <br />
                            5. Click "Check" <br />
                            6. The question game will appear, and you can enjoy playing!
                        </p>

                    </div>
                </div>
                <div class="u-align-center u-container-style u-image u-image-round u-layout-cell u-size-30 u-image-5"
                    data-image-width="auto" data-image-height="auto">
                </div>
            </div>
        </div>
        <div class="u-size-30">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-shape-round u-size-30 u-white u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h2 class="u-text u-text-default u-text-1">Thing you need to know After check <button
                                class="button-answer" role="button">Answer</button></h2>
                        <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-grey-40 u-text-2">

                            1. <b>Correct Answer:</b> This means your answer is correct. <br />
                            2. <b>Incorrect Answer:</b> This means your answer is wrong.<br />
                            3. <b>Try Again:</b> This means you need to try answering the question again.
                        </p>

                    </div>
                </div>
                <div class="u-align-center u-container-style u-image u-image-round u-layout-cell u-size-30 u-image-6"
                    data-image-width="auto" data-image-height="auto">
                </div>
            </div>
        </div>
        <div class="u-size-31">
            <div class="u-layout-row">
                <div
                    class="u-align-left u-container-style u-layout-cell u-shape-round u-size-60 u-white u-layout-cell-3">

                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                        <h2 class="u-text u-text-default u-text-1">What I Do</h2>

                        <p class="u-custom-font u-font-montserrat u-text u-text-4"> My platform allows users to enjoy
                            creating and participating in multiple-choice quizzes. By connecting to the Open Trivia
                            Database API, I bring you an array of carefully curated questions across different subjects.
                            Whether you're playing for fun, testing your knowledge, or challenging friends, my quiz game
                            is designed to be both entertaining and insightful. </p>
                        <h2 class="u-text u-text-default u-text-1">Key Features</h2>
                        <p class="u-custom-font u-font-montserrat u-text u-text-4">
                            <b>Play All Games:</b> Users have the option to browse and participate in a variety of
                            quizzes.
                            These quizzes cover multiple categories and difficulty levels, providing an engaging
                            challenge
                            for all players. <br />
                            <b>Create New Games:</b>Users can start new games and customize their quiz experience by
                            selecting categories, number of questions, and difficulty levels. This feature ensures a
                            personalized and unique game each time.<br />
                            <b>History and Points Tracking: </b>Players can view their game history, including scores
                            and
                            points earned. This feature helps users keep track of their progress and motivates them to
                            improve with each game.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-size-30">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-shape-round u-size-30 u-white u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h2 class="u-text u-text-default u-text-1">Technology</h2>
                        <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-grey-40 u-text-2">
                            I developed this project using the <b>Angular framework,</b> known for its robust features
                            and
                            efficient performance in building modern web applications. By leveraging Angular's
                            capabilities, I ensure a seamless and responsive user experience.<br /><br />

                            For backend operations, I use Node.js to handle server-side logic and API management. To
                            connect and manage user data and quiz questions, I rely on PostgreSQL, a powerful and
                            reliable open-source relational database system. This ensures secure and efficient storage
                            and retrieval of user information and game data.
                        </p>

                    </div>
                </div>
                <div class="u-align-center u-container-style u-image u-image-round u-layout-cell u-size-30 u-image-2"
                    data-image-width="2000" data-image-height="1564">
                    <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                </div>
            </div>
        </div>
        <div class="u-size-30">
            <div class="u-layout-row">
                <div class="u-align-center u-container-style u-image u-image-round u-layout-cell u-size-30 u-image-3"
                    data-image-width="2000" data-image-height="1564">
                    <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                </div>

                <div class="u-container-style u-layout-cell u-shape-round u-size-30 u-white u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h2 class="u-text u-text-default u-text-1">Deployment</h2>
                        <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-grey-40 u-text-2">
                            For deployment, I use Docker Compose to streamline the process and create a reliable,
                            multi-container environment. My setup includes:<br />
                            <b>Frontend (angular-app) : </b> An Angular app that serves as the user-facing part of the
                            quiz game.<br />
                            <b>Backend Server (server) : </b>A server application responsible for handling user
                            interactions and
                            connecting with the database.<br />
                            <b>Database (db) : </b> A data storage system for user login information and quiz questions,
                            ensuring smooth and secure access.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="u-size-30">
            <div class="u-layout-row">
                <div class="u-align-center u-container-style u-image u-image-round u-layout-cell u-size-30 u-image-4"
                    data-image-width="2000" data-image-height="1564">
                    <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                </div>

                <div class="u-container-style u-layout-cell u-shape-round u-size-30 u-white u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-grey-40 u-text-2">
                            Project Owner : Orawan Hensirisak 66130226 <br />
                            Consultant : Assist.Prof.Dr.Chaiyaporn Khemapatpapan,Ph.D <br />
                            The project is part of coursework for <b>CT648 Web and Cloud Engineering</b> at Dhurakij
                            Pundit University.
                        </p>
                        <p><a href="https://github.com/OrawanHen/CT648_Final_Project.git">GIT Link</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>